In [52]:
import pandas as pd
import os
from pandasql import sqldf
import sqlite3

En este proyecto simularemos de una forma resumida como una tienda llamada Interpaq lleva el registro de de sus clientes en una tabla llamada "clientes" y las ventas dadas en una fecha, esta tabla se llamará "ventas".

El objetívo es observar como las dos tablas pueden unirse en un data frame para luego hacer cualquier tipo de análisis sobre las ventas de dicha tienda.

In [53]:
con = sqlite3.connect("interpaq.db") #Creamos el DataBase de forma local

In [54]:
#Tabla para cliente
con.execute("""CREATE TABLE clientes(
  id INT PRIMARY KEY NOT NULL,
  nombre TEXT NOT NULL,
  email TEXT NOT NULL
)
""")
#Tabla datos de ventas por cliente
con.execute("""CREATE TABLE ventas(
  venta_id INT PRIMARY KEY NOT NULL,
  cliente_id INT NOT NULL,
  monto REAL NOT NULL,
  fecha TEXT NOT NULL
)""")

In [55]:
con.execute("INSERT INTO clientes VALUES (1,'Santiago Trejo','strejo@gmail.com')")
con.execute("INSERT INTO clientes VALUES (2,'Jose Rosales','Jrosales@gmail.com')")
con.execute("INSERT INTO clientes VALUES (3,'Manuel Mena','mmena@gmail.com')")
con.execute("INSERT INTO clientes VALUES (4,'Miguel Santana','msantana@gmail.com')")
con.execute("INSERT INTO clientes VALUES (5,'Cristian Gómez','cgomez@gmail.com')")

In [56]:
con.execute("INSERT INTO ventas VALUES (991,1,291.29,'2025-08-28')")
con.execute("INSERT INTO ventas VALUES (992,2,150.50,'2025-08-27')")
con.execute("INSERT INTO ventas VALUES (993,3,75.00,'2025-08-26')")
con.execute("INSERT INTO ventas VALUES (994,4,320.80,'2025-08-25')")
con.execute("INSERT INTO ventas VALUES (995,5,95.60,'2025-08-24')")
con.execute("INSERT INTO ventas VALUES (996,1,50.25,'2025-08-23')")
con.execute("INSERT INTO ventas VALUES (997,2,200.00,'2025-08-22')")
con.execute("INSERT INTO ventas VALUES (998,3,110.45,'2025-08-21')")
con.execute("INSERT INTO ventas VALUES (999,4,45.90,'2025-08-20')")
con.execute("INSERT INTO ventas VALUES (1000,5,88.70,'2025-08-19')")
con.execute("INSERT INTO ventas VALUES (1001,1,185.00,'2025-08-18')")
con.execute("INSERT INTO ventas VALUES (1002,2,62.30,'2025-08-17')")
con.execute("INSERT INTO ventas VALUES (1003,3,250.00,'2025-08-16')")
con.execute("INSERT INTO ventas VALUES (1004,4,140.75,'2025-08-15')")
con.execute("INSERT INTO ventas VALUES (1005,5,70.10,'2025-08-14')")
con.execute("INSERT INTO ventas VALUES (1006,1,300.90,'2025-08-13')")
con.execute("INSERT INTO ventas VALUES (1007,2,99.99,'2025-08-12')")
con.execute("INSERT INTO ventas VALUES (1008,3,165.50,'2025-08-11')")
con.execute("INSERT INTO ventas VALUES (1009,4,220.00,'2025-08-10')")
con.execute("INSERT INTO ventas VALUES (1010,5,55.00,'2025-08-09')")

con.commit()

In [57]:
Interpaq_DB = pd.read_sql_query("SELECT c.nombre,c.email,v.venta_id,v.monto,v.fecha FROM clientes AS c INNER JOIN ventas AS v ON c.id = v.cliente_id",con)
con.close()

In [58]:
display(Interpaq_DB)

            nombre               email  venta_id   monto       fecha
0   Santiago Trejo    strejo@gmail.com       991  291.29  2025-08-28
1     Jose Rosales  Jrosales@gmail.com       992  150.50  2025-08-27
2      Manuel Mena     mmena@gmail.com       993   75.00  2025-08-26
3   Miguel Santana  msantana@gmail.com       994  320.80  2025-08-25
4   Cristian Gómez    cgomez@gmail.com       995   95.60  2025-08-24
5   Santiago Trejo    strejo@gmail.com       996   50.25  2025-08-23
6     Jose Rosales  Jrosales@gmail.com       997  200.00  2025-08-22
7      Manuel Mena     mmena@gmail.com       998  110.45  2025-08-21
8   Miguel Santana  msantana@gmail.com       999   45.90  2025-08-20
9   Cristian Gómez    cgomez@gmail.com      1000   88.70  2025-08-19
10  Santiago Trejo    strejo@gmail.com      1001  185.00  2025-08-18
11    Jose Rosales  Jrosales@gmail.com      1002   62.30  2025-08-17
12     Manuel Mena     mmena@gmail.com      1003  250.00  2025-08-16
13  Miguel Santana  msantana@gmail.com      1004  140.75  2025-08-15
14  Cristian Gómez    cgomez@gmail.com      1005   70.10  2025-08-14
15  Santiago Trejo    strejo@gmail.com      1006  300.90  2025-08-13
16    Jose Rosales  Jrosales@gmail.com      1007   99.99  2025-08-12
17     Manuel Mena     mmena@gmail.com      1008  165.50  2025-08-11
18  Miguel Santana  msantana@gmail.com      1009  220.00  2025-08-10
19  Cristian Gómez    cgomez@gmail.com      1010   55.00  2025-08-09

In [60]:
Interpaq_DB['nombre'].value_counts()

nombre
Santiago Trejo    4
Jose Rosales      4
Manuel Mena       4
Miguel Santana    4
Cristian Gómez    4
Name: count, dtype: int64

Cada cliente ha comprado 4 veces.